altair==5.5.0
attrs==24.3.0
backports.tarfile==1.2.0
bcrypt==4.2.1
blinker==1.9.0
build==1.2.2.post1
CacheControl==0.14.2
cachetools==5.5.0
captcha==0.6.0
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cleo==2.1.0
click==8.1.8
colorama==0.4.6
crashtest==0.4.1
cryptography==44.0.0
distlib==0.3.9
dulwich==0.22.7
extra-streamlit-components==0.1.71
fastjsonschema==2.21.1
filelock==3.16.1
gitdb==4.0.12
GitPython==3.1.44
idna==3.10
importlib_metadata==8.5.0
installer==0.7.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==25.6.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
more-itertools==10.6.0
msgpack==1.1.0
narwhals==1.22.0
numpy==2.0.2
packaging==24.2
pandas==2.2.3
pillow==11.1.0
pkginfo==1.12.0
platformdirs==4.3.6
poetry==2.0.1
poetry-core==2.0.1
protobuf==5.29.3
pyarrow==19.0.0
pycparser==2.22
pydeck==0.9.1
Pygments==2.19.1
PyJWT==2.10.1
pyproject_hooks==1.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
pywin32-ctypes==0.2.3
PyYAML==6.0.2
RapidFuzz==3.11.0
referencing==0.36.1
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.22.3
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
streamlit==1.41.1
streamlit-authenticator==0.4.1
tenacity==9.0.0
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
tornado==6.4.2
trove-classifiers==2025.1.15.22
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
virtualenv==20.29.0
watchdog==6.0.0
zipp==3.21.0
openpyxl==3.1.0
